<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")  
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" />
    <style>
        div.modal-backdrop.in {
            position: relative;
        }
    </style>
    <script>
        $(document).ready(function() {
            //$("#registerModal").modal('show');
            $("#registerLink").click(function() {
                $("#registerModal").modal('show');
            });
            $("#loginLink").click(function() {
                $("#loginModal").modal('show');
            });
            $('#categories-dialog').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: 'Gpa Calculator',
                modal: true,
                open: function(event, ui) {
                    //Load the CreateAlbumPartial action which will return
                    // the partial view _CreateAlbumPartial
                    var url = '@Url.Action("ShowCategories","Gpa")';
                    $(this).load(url);
                },
                buttons: {
                    "Close": function() {
                        $(this).dialog("close");
                    },
                    "Submit": function() {
                        @*@*var url = '@Url.Action("ShowCategories","Gpa")';*@
                        if (!$("#ShowCategoriesForm").valid()) {
                            return false;
                        }
                        $("#ShowCategoriesForm").submit();
                        $(this).dialog("close");
                    }
                }
            });
            $('#ShowCategories').click(function () {
                $('#categories-dialog').dialog('open');
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ITWALA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("GPA", "ShowCategories", "Gpa")</li>*@
                    <li><a id="ShowCategories">Gpa</a>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="padding-top:5em"></div>
    <div class="container body-content">
        @RenderBody()
        <div id="categories-dialog">
            
        </div>
        <hr />
        <footer></footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
