@using Microsoft.AspNet.Identity
@*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }*@
<ul class="nav navbar-nav navbar-right">
    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>*@
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Logout", "LogOff", "Account", null, new { id = "logoutForm", @class = "navbar-right" })</li>

    }
    else
    {
        <li><a id="registerLink" data-toggle="modal" data-target="#myModal" href="#">Register</a></li>
            <li><a id="loginLink" data-toggle="modal" data-target="#myModal" href="#">Login</a></li>
    }
</ul>

<div id="myModal">
    @{ Html.RenderAction("Register", "Account"); }
    @{ Html.RenderAction("Login", "Account", new { ReturnUrl = HttpContext.Current.Request.Url.ToString() }); }
</div>
